/* General Styles */
* {
  margin: 0;
  padding: 0;
}
:root {
  --main-bg-color: #333;
  --main-text-color: #333;
  --header-bg-color: #333;
  --header-text-color: #333;
}

/* Header Styles */

/* About Me Styles */


/* Socials Styles */
.svg-icons {
  height: 40px;
  width: 40px;
}
