@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;600&display=swap");

/* Root Styles */
:root {
  --header-height: 6rem;

  /* Colors */
  --hue-color: 250;
  /* =====Hues===== */
  /* Red:0-30,350-360
     Orange:30-50 
     Yellow:50-80 
     Green:80-120-160 
     lightBlue:160-205 
     Blue:205-230 
     Indigo:230-260 
     Violet:260-290 
     Pink:290-350 */

  /* sat:0=grey 100=color */
  /* light: 0=black 100=white */

  --primary-color: hsl(var(--hue-color), 69%, 61%);
  --primary-color-light: hsl(var(--hue-color), 92%, 85%);
  --secondary-color: hsl(var(--hue-color), 57%, 53%);

  --text-color: hsl(var(--hue-color), 8%, 45%);
  --dark-color: hsl(var(--hue-color), 8%, 15%);
  --light-color: hsl(var(--hue-color), 60%, 99%);

  /* Fonts */
  --body-font: "Poppins", sans-serif;

  /* Font Sizes (0.5rem = 8px, 1rem = 16px, 1.5rem = 24px) */
  --font-size-200: 2rem;
  --font-size-150: 1.5rem;
  --font-size-100: 1.25rem;
  --font-size-75: 0.938rem;
  --font-size-60: 0.813rem;
  --font-size-50: 0.75rem;

  /* Font Weight */
  --font-medium: 500;
  --font-semi-bold: 600;

  /* Gaps/Padding */
  --nav-gap: 3rem;
}
/* Root Styles for Larger Screens */
@media screen and (min-width: 968px) {
  :root {
    --font-size-200: 3rem;
    --font-size-150: 2.25rem;
    --font-size-100: 1.5rem;
    --font-size-75: 1rem;
    --font-size-60: 0.875rem;
    --font-size-50: 0.813rem;
  }
}
/* Styles For Smaller Screens */
@media screen and (max-width: 421px) {
  :root {
    --font-size-100: 0.7rem;
    --nav-gap: 2rem;
  }
}

/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-font);
  font-size: var(--font-size-75);
  background-color: var(--light-color);
  color: var(--text-color);
}
h1,
h2,
h3,
h4 {
  color: var(--primary-color);
  font-weight: var(--font-semi-bold);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--primary-color);
}
img {
  max-width: 100%;
  height: auto;
}

/* Header Styles */
.header {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  background-color: var(--light-color);
}
.logo {
  font-size: var(--font-size-200);
}
.nav {
  max-width: 100%;
  height: var(--header-height);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-list {
  font-size: var(--font-size-100);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--nav-gap);
}
.nav-link {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  transition: 0.3s ease-in-out;
}
.nav-link:hover {
  color: var(--primary-color-light);
}

/* Hero Styles */
.hero {
  /* background-image: url(./images/stock/Bg-Feet.jpeg); */
  background-image: url(https://images.unsplash.com/photo-1477519726670-15a7b643a08c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80);
  filter: opacity(0.6);
  width: 100%;
  height: 50rem;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
#scrollBtn {
  text-align: center;
  pointer-events: auto;
  border-radius: 50px;
  padding: 1rem 3.25rem;
  background-color: var(--primary-color);
  opacity: 0.8;
  /* top: 15%; */
  font-size: var(--font-size-150);
  color: var(--dark-color);
  transition: background-color 1s ease-in-out;
}
#scrollBtn:hover {
  background-color: var(--light-color);
}

/* Sidebar Styles */
.sidebar {
  position: sticky;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  top: 0;
  bottom: 10rem;
  margin-right: 0;
  width: fit-content;
  font-size: var(--font-size-200);
}
.sidebar li {
  width: 150px;
  padding: 0.3rem;
  transform: translateX(-90px);
  text-align: end;
  transition: 0.5s ease-out;
  pointer-events: none;
}
.sidebar li:hover {
  /* animation: hoverIcon 0.5s ease-in-out alternate infinite; */
  transform: translateX(-80px);
}
.sidebar i {
  color: var(--secondary-color);
  pointer-events: all;
  transition: 0.3s ease-in-out;
}
.sidebar i:hover {
  color: var(--primary-color-light);
}
/* Fun Icon Moving Animation */
@keyframes hoverIcon {
  0% {
    transform: translateX(-90px);
  }
  /* 10% {
    transform: translateX(-80px);
  }
  90% {
    transform: translateX(-75px);
  } */
  100% {
    transform: translateX(-80px);
  }
}

/* About Me Styles */
#about-me {
  display: flex;
  flex-wrap: wrap;
  padding-top: 6rem;
  margin: auto 2rem 4rem;
  justify-content: space-evenly;
}
#about-me p {
  width: 48rem;
  padding: 1rem;
  font-size: var(--font-size-100);
}
#about-me h2,
#about-me h3 {
  color: var(--secondary-color);
}
.about-me-title {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
  font-size: var(--font-size-100);
  color: var(--primary-color);
}
.about-me-title:after {
  content: "";
  width: 100%;
  height: 10px;
  text-align: left;
  position: static;
  background-color: var(--primary-color);
  margin: 1px solid var(--primary-color);
}
.about-me-title img {
  width: 50%;
}

/* Projects Styles */
#projects {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  padding-top: 4rem;
  align-items: center;
}
#projects h2 {
  font-size: var(--font-size-150);
  padding: 2rem 0 1rem 0;
}
#projects h3 {
  font-size: var(--font-size-100);
  padding: 2rem 0 1rem 0;
}
.project-list {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: center;
}
.project-list li {
  flex: 1 1 50%;
  text-align: center;
  padding: 1rem 4rem;
}
.project-list li:first-child {
  flex: 1 1 70%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding: 0 5rem;
  margin: 0 1rem;
}
.project-list a {
  border: 1px solid var(--primary-color-light);
  padding: 0.5rem;
  width: 100%;
  transition: 0.3s;
}
.project-list li:not(li:first-child) a {
  padding: 0.5rem 3rem;
}
.project-list a:hover {
  border: 1px solid transparent;
  color: var(--title-color);
  background-color: var(--primary-color-light);
}
.project-list img {
  transition: 0.3s ease-in-out;
}
/* TODO: Add Desc on hover */
.project-list img:hover {
  opacity: 0.5;
}

/* Contact Styles */
#contact {
  display: flex;
  flex-flow: row wrap;
  padding-top: 3rem;
}
#contact {
  width: 100%;
  padding: 4rem 2rem 2rem 0rem;
}
.contact-container {
  display: flex;
  flex-flow: column wrap;
  flex: 1 1 50%;
}
#contact form {
  display: flex;
  flex-flow: column wrap;
  width: inherit;
}
#contact form > * {
  padding: 0.25rem;
  color: var(--text-color);
}
#contact form > input[type="submit"] {
  margin-top: 1rem;
  background-color: var(--primary-color-light);
  border: 1px solid transparent;
  border-radius: 1rem;
  padding: 0.5rem;
  width: 50%;
  transition: 0.2s ease-in-out;
}
#contact form > input[type="submit"]:hover {
  background-color: var(--secondary-color);
  border: 1px solid var(--dark-color);
}
.myInfo {
  display: flex;
  flex-flow: column wrap;
  flex: 1 1 50%;
  padding: 0.5rem 1rem;
}
/* Footer Styles */

/* ====Media Queries==== */

/* Larger Screens */
@media screen and (min-width: 2500px) {
  :root {
    --font-size-75: 2rem;
    --font-size-100: 2.25rem --font-size-;
  }
  #contact {
    padding: 6rem 4rem 12rem 6rem;
  }
  .project-list li:not(li:first-child) a {
    padding: 1rem 3.17rem;
    display: flow-root;
    margin: auto;
    width: 62%;
  }
  .project-list li:first-child a {
    margin: auto;
    width: 100%;
    padding: 2rem 3.17rem;
  }
  .project-list li:first-child {
    padding: 0 41rem;
  }
  .project-list li:first-child img {
    height: 45rem;
  }
}

/* Laptop Screens */
@media screen and (min-width: 1024px) and (max-width: 2500px) {
  #contact {
    padding: 4rem 4rem 12rem 4rem;
  }
  .project-list li:not(li:first-child) a {
    padding: 1rem 3.17rem;
    display: flow-root;
    margin: auto;
    width: 100%;
  }
  .project-list li:first-child a {
    margin: auto;
    width: 63%;
    padding: 2rem 3.17rem;
  }
  .project-list li:first-child {
    padding: 0 4rem;
  }
  .project-list li:first-child img {
    height: 25rem;
    width: 63%;
    align-self: center;
  }
}

/* Tablets and Large Phones */
@media screen and (max-width: 767px) {
  .nav {
    justify-content: center;
  }
  .navMenu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: var(--font-size-60);
    background-color: var(--light-color);
    padding: 2rem 1.5rem 3rem;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 1.5rem 1.5rem 0 0;
    transition: 0.3s;
  }
  .nav-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 1.5rem;
  }
}

/* Padding fix */
@media screen and (max-width: 1000px) and (min-width: 425px) {
  .project-list li:not(li:first-child) a {
    padding: 0.5rem 1.35rem;
    display: flow-root;
    margin: 0rem 0rem;
  }
  #about-me p {
    width: 48rem;
    padding: 2rem;
  }
  #contact {
    width: 100%;
    padding: 6rem;
  }
}

/* Small Phones */
@media screen and (max-width: 425px) {
  .navMenu {
    font-size: var(--font-size-100);
  }
  .project-list li {
    flex: 1 1 100%;
    display: flex;
    justify-content: space-between;
    flex-flow: column;
  }
  .project-list li:first-child {
    padding: 0;
    margin: 2rem;
    flex-flow: column wrap;
    justify-content: space-around;
  }
  #contact {
    width: 100%;
    padding: 6rem 3rem 3rem 3rem;
  }
  .myInfo {
    padding-top: 1.5rem;
  }
  .myInfo > * {
    padding: 0.2rem 0rem;
  }
  .sidebar li {
    transform: translateX(-110px);
    font-size: var(--font-size-200);
  }
  .sidebar li:hover {
    transform: translateX(-100px);
  }
}
