/* General Styles */
:root {
  /* Colors */
  --main-bg-color: #333;
  --main-text-color: #333;
  --header-bg-color: #333;
  --header-text-color: #333;

  /* Fonts */
  --font-family: ;
  --header-font-size: ;
  --text-font-size: ;
}
* {
  margin: 0;
  padding: 0;
}
body {
  background: #232526; /* fallback for old browsers */
  background: -webkit-radial-gradient(#000000, rgb(36, 34, 34)) fixed; /* Chrome 10-25, Safari 5.1-6 */
  background: radial-gradient(
    #000000,
    rgb(36, 34, 34) fixed
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: antiquewhite;
  text-decoration: none;
}
a {
  text-decoration: none;
  color: antiquewhite;
}
ul {
  list-style: none;
}
.svg-icons {
  height: 40px;
  width: 40px;
}

/* Header Styles */
header.navContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  font-size: 2rem;
  opacity: 0.5;
  transition: ease;
}
.navContainer img {
  filter: brightness(100);
}
.navContainer li:hover {
  opacity: 0.5;
}
.navContainer > h1 {
  justify-self: center;
  align-self: start;
  opacity: 0.8;
}
ul.Menu {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
ul.Menu > li {
  padding: 5px;
}
#devGif {
  filter: blur(100%);
}

/* Hero Styles */
#hero {
  position: relative;
  top: 0;
  z-index: 999;
}
#hero > * {
  width: 100%;
  height: 100%;
  filter: opacity(0.5);
}

/* About Me Styles */
#about-me {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  height: 80vh;
  padding-top: 5rem;
}
/* Projects Styles */
#projects {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  height: 90vh;
  padding-top: 5rem;
}
#projectsList {
  display: grid;
  gap: 1rem;
  grid: 1fr 1fr / 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "main main main main"
    "rest rest rest rest";
  padding: 1rem;
}
#mainProject {
  grid-area: main;
  text-align: center;
}

/* Contact Styles */
.contactContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding-top: 5rem;
  margin: 0 10px;
}
form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
textarea {
  resize: none;
}

/* Socials Styles */
aside {
  position: sticky;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  z-index: 0;
  top: 0;
  bottom: 10rem;
  left: 0;
}
.socials li {
  width: 150px;
  padding: 0.3rem;
  transform: translateX(-100px);
  text-align: end;
}
@keyframes hoverIcon {
  0% {
    transform: translateX(-100px);
  }
  10% {
    transform: translateX(-90px);
  }
  100% {
    transform: translateX(-90px);
  }
}
.socials li:hover {
  animation: hoverIcon 2s ease-out;
}
